html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
  overflow-y: hidden;
}
.source {
  height: 7vh;
  background-color: rgb(0, 0, 0);
}
a {
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  margin-left: 34vw;
  font-size: 60px;
}